@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Inter';
      src: url('/fonts/inter.ttf') format('truetype');
      font-weight: normal;
      font-display: swap;
      font-style: normal;
    }
}
.layout {
    max-width: 78.75rem;
    @apply mx-auto w-11/12;
  }

  